.exit {
  composes: reset from "./styles.module.css";
  font-size: 30px;
  padding: 20px;
  color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.3);
  animation: popping 2s ease-in-out;
  position: fixed;
  width: 100px;
  height: 100px;
  line-height: 100px;
  top: -50px;
  right: -50px;;
  border-radius: 50%;
}

.exit:hover {
  font-size: 32px;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

@keyframes popping {
  50% {
    width: 400px;
    height: 400px;
    line-height: 400px;
    top: -200px;
    right: -200px;;
    font-size: 60px;
    padding: 80px;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.5);
  }
}

.tabContainer {
  composes: reset from "./styles.module.css";
  list-style: none;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 50px;
  height: 200px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.tab {
  composes: reset from "./styles.module.css";
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.2);
}

.active {
  color: rgba(255, 255, 255, 0.4);
}
