.classA:hover {
  transform: translate(100px, 100px);
  transition: all ease-in-out 1s;
}

.classB {
  background: linear-gradient(to bottom, white, black);
}

.classC {
  color: aliceblue;
}

.composed {
  composes: classA;
  composes: classB;
  composes: classC;
}
